body{
   background-image: linear-gradient(#806F5C, white);
}
.Caption{
  font-family: "DejaVu Sans Mono", monospace;
  font-size: 50px;
  color: white;
  font-weight: bold;
  padding-top: 80px;
  width: 100%;
  position: absolute;
  text-align: center;
}
.Favorites{
  padding-bottom: 10px;
  padding-left: 40px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}
.Intro{
  padding-left: 45px;
  padding-bottom: 10px;
}
.F1{
  padding-left: 20px;
  padding-bottom: 30px;
}
.F2{
  padding-left: 270px;
}
.F3{
  padding-top: 30px;
  padding-left: 400px;
}
.AnimalsCap{
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  padding-left: 40px;
  padding-top: 40px;
}
.EditsCap{
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  padding-left: 40px;
}
.FlowersCap{
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  padding-left: 40px;
}
.NatureCap{
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  padding-left: 40px;
}
.PeopleCap{
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  padding-left: 40px;
}
.Contact{
  background-color: #735F46;
  height: 170px;
}
.ConTitle{
  text-align: center;
  color: white;
}
.Con{
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}
